@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 80%;
    height: 80%;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #333;
    font-family: "Courier New","Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.img{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    width: 8%;
    margin: 1% 1% 1% 1%;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: width 0.5s ease-in;
}

.img:not(.collapsed):hover{
    box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.62);;
    transform: scale(1.015);
}

.img.collapsed{
    width: 80%;
    box-shadow: none;
    cursor: default;
}

.img.collapsed > label {
    display:block;
    color: aliceblue;
    font: 24px "Courier New", sans-serif;
    font-weight: bold;
    padding: 0% 0% 1% 4%;
    opacity: 1;
    transition: opacity 0.7s ease-in;
}

.img > label {
    opacity: 0;
}

.img:nth-child(1){
    background-image: url(https://fastly.picsum.photos/id/869/2000/1350.jpg?hmac=q737PtTdhrAffyYXQyHxa6ssFhIELXg4-LKroHSWxAo);
}
.img:nth-child(2){
    background-image: url(https://fastly.picsum.photos/id/305/2000/1350.jpg?hmac=DcA4JBCpnjfBXmQb8UOS6UptG4pdHXZ9Xjqu-ydfT6I);
}
.img:nth-child(3){
    background-image: url(https://fastly.picsum.photos/id/613/2000/1350.jpg?hmac=nzvKfbC0x41OSidYR8myLBhK9sR0JOk-iP90ty6KLLs);
}
.img:nth-child(4){
    background-image: url(https://fastly.picsum.photos/id/629/2000/1350.jpg?hmac=VVWngHkLh0HvDKMv4EVBg0XfGquiXb5cXHz5_qyWYPA);
}
.img:nth-child(5){
    background-image: url(https://fastly.picsum.photos/id/1043/2000/1350.jpg?hmac=mZ0C_3A48X-hSOTfXyLxp672CAMyZt2a0jO5uHIOwE0);
}
